---
const newPath = "/projects"+Astro.url.pathname;
---

<html>
	<body data-newpath={newPath}>
		<h1>Redirecting</h1>
		<p>If this doesn't happen automatically click <a href={newPath}>here</a>.</p>
		<script is:inline>
			window.location.pathname = document.querySelector("body").dataset.newpath;
		</script>
	</body>
</html>