---
import { getLanguageFromURL } from '../../languages';
import { SIDEBAR } from '../../consts';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<aside class="menu">
	{
		Object.entries(sidebar).map(([header, children]) => (
			<p class="menu-label">{header}</p>
			<ul class="menu-list">
				{children.map((child) => {
					const url = Astro.site?.pathname + child.link;
					return (
						<li><a href={url} aria-current={currentPageMatch === child.link ? 'page' : false} class={currentPageMatch === child.link ? 'is-active' : ''}>
							{child.text}
						</a></li>
					);
				})}
			</ul>
		))
	}
</aside>
