---
import { getLanguageFromURL } from '../../languages';
import { SIDEBAR } from '../../consts';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props;
const currentPageMatch = currentPage.endsWith('/')
	? currentPage.slice(1, -1)
	: currentPage.slice(1);
const langCode = getLanguageFromURL(currentPage);
const sidebar = SIDEBAR[langCode];
---

<nav aria-labelledby="grid-left">
	<ul class="nav-groups">
		{
			Object.entries(sidebar).map(([header, children]) => (
				<li>
					<div class="nav-group">
						<h2>{header}</h2>
						<ul>
							{children.map((child) => {
								const url = Astro.site?.pathname + child.link;
								return (
									<li class="nav-link">
										<a href={url} aria-current={currentPageMatch === child.link ? 'page' : false}>
											{child.text}
										</a>
									</li>
								);
							})}
						</ul>
					</div>
				</li>
			))
		}
	</ul>
</nav>
