{% extends "base.html" %}
{% load markdown_extras %}
{% block title %}- {{ category.name }}{% endblock title %}
{% block content %}
<section class="hero is-link pt-5">
	<div class="hero-body">
		<p class="title is-1">
			{{ category.name }}
		</p>
		<p class="subtitle">
			{{ category.description }}
		</p>
	</div>
</section>
<section class="section is-fullheight">
	<ul>
		{% for post in post_list %}
		<article class="box media mt-3">
			<div class="media-content" style="overflow-y: hidden;">
				<div class="content">
					<strong>{{ post.title }}</strong>
					<small>{{ post.author }} | {{ post.created_on}}</small>
					<br>
					<p>{{post.description | truncatechars:200 }}</p>
					<a href="{% url 'post_view' category=post.category.all.last.slug slug=post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
				</div>
			</div>
		</article>
		{% endfor %}
	</ul>
</section>
{%endblock%}