# Your Django secret key. Remember keep this secret!.
SECRET_KEY=secret-key
# The database server's IP address.
DB_HOST=0.0.0.0
# The MYSQL database port. Normally 3306.
DB_PORT=3306
# The name of the actually database.
DB_NAME=database
# The databses's user.
DB_USER=root
# The database's password.
DB_PASS=password
# Enable Debug mode. 1 = On, 0 = Off. Do not use in production!
DEBUG=0