{% extends "base.html" %}
{% block title %}- Password Reset{% endblock title %}
{% block content %}
	<section class="hero is-halfheight">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-6-tablet is-5-desktop is-4-widescreen">
						<form action="" method="post" class="box is-shadowless">
							{% csrf_token %}
							<h1 class="title">Reset password</h1>
							<div class="card">
								<div class="card-content">
									{% if form.email.errors %}
									<p class="has-text-danger">{{ form.email.errors }}</p>
									{% endif %}
									<div class="field">
										<label for="" class="label">Email</label>
										<div class="control has-icons-left">
											<input type="email" name="email" placeholder="e.g. bobsmith@example.com" class="input" required>
											<span class="icon is-small is-left">
												<i class="fas fa-envelope "></i>
											</span>
										</div>
									</div>
									<div class="field buttons">
										<button type="submit" class="button is-fullwidth is-success">
										<span>Reset password</span>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
