{% extends "base.html" %}
{% block title %}- Password Reset Confirm{% endblock title %}
{% block content %}
	<section class="hero is-halfheight">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-6-tablet is-5-desktop is-4-widescreen">
					{% if validlink %}
						<h1 class="title">Confirm password</h1>
						<div class="card">
							<div class="card-content">
								<p>Please enter (and confirm) your new password.</p>
								<form action="" method="post" class="box is-shadowless">
									{% csrf_token %}
									<div class="field">
										<label for="" class="label">Password</label>
										<div class="control has-icons-left">
											<input type="password" name="new_password1" placeholder="*******" class="input" required>
											<span class="icon is-small is-left">
												<i class="fas fa-lock"></i>
											</span>
										</div>
										{% if form.new_password1.errors %}
										<p class="help is-danger">{{ form.new_password1.errors }}</p>
										{% endif %}
									</div>

									<div class="field">
										<label for="" class="label">Password</label>
										<div class="control has-icons-left">
											<input type="password" name="new_password2" placeholder="*******" class="input" required>
											<span class="icon is-small is-left">
												<i class="fas fa-lock"></i>
											</span>
										</div>
										{% if form.new_password2.errors %}
										<p class="help is-danger">{{ form.new_password2.errors }}</p>#
										{% endif %}
									</div>
									<div class="field buttons">
										<button type="submit" class="button is-fullwidth is-success">
										<span>Reset password</span>
										</button>
									</div>
								</form>
							</div>
						</div>
					{% else %}
						<div class="box is-shadowless">
							<div class="card">
								<div class="card-content">
									<h1 class="title">Password reset failed</h1>
									<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
								</div>
							</div>
						</div>
					{% endif %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
