{% autoescape off %}
  Dear {{ user.first_name }} {{ user.last_name }},
  Someone has requested a password reset email for your account. If this was not you please 
  check your profile settings now.

  To initiate the password reset process for your {{ user.email }} Miners Online Account,
  click the link below:

  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  If clicking the link above doesn't work, please copy and paste the URL in a new browser
  window or tab instead.

  Sincerely,
  Miners Online

  <em>This email inbox is not monitored, do not try send any messages.</em>
{% endautoescape %}