{% extends "base.html" %}
{% block title %}- Password Reset Complete{% endblock title %}
{% block content %}
	<section class="hero is-halfheight">
		<div class="hero-body">
			<div class="container">
				<div class="columns is-centered">
					<div class="column is-6-tablet is-5-desktop is-4-widescreen">
						<div class="box is-shadowless">
							<h1 class="title">Success</h1>
							<div class="card">
								<div class="card-content">
									<p>The password has been changed!</p>
									<br>
									<a class="button is-fullwidth is-success" href="{% url 'login' %}">
										<span class="icon"><i class="fas fa-regular fa-right-to-bracket"></i></span><span>Login?</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
