---
import type { CollectionEntry } from 'astro:content';

type Props = { blog:CollectionEntry<'blog'>['data'] };

const { blog } = Astro.props;
---

<p class="menu-label">POST INFORMATION</p>
<ul class="menu-list">
	<li class={`header-link depth-2`}><a> Publication Date: {new Date(blog.pubDate).toLocaleDateString('en-us', {
		year: 'numeric',
		month: 'short',
		day: 'numeric',
	})} </a></li>
	<li class={`header-link depth-2 tags`}><a>Authors: {blog.authors.map((author) => (
		<span class="tag is-link is-light">
			{author}
		</span>
	))}</a></li>
	<li class={`header-link depth-2`}><a>{blog.description} </a></li>
</ul>
