---
import type { CollectionEntry } from 'astro:content';

type Props = { blog:CollectionEntry<'blog'>['data'] };

const { blog } = Astro.props;
---

<h2 class="heading">POST INFORMATION</h2>
<ul>
	<li class={`header-link depth-2`}><p> Publication Date: {new Date(blog.pubDate).toLocaleDateString('en-us', {
		year: 'numeric',
		month: 'short',
		day: 'numeric',
	})} </p></li>
	<li class={`header-link depth-2`}><p>Author: {blog.author}</p></li>
	<li class={`header-link depth-2`}><p>{blog.description} </p></li>
</ul>
<h2 class="heading">POST TAGS</h2>
<ul>
	{
		blog.tags.map((tag) => (
		<li class={`header-link depth-2`}><p>{tag} </p></li>
		))
	}
</ul>
