---
import type { MarkdownHeading } from 'astro';
import TableOfContents from './TableOfContents';
import MoreMenu from './MoreMenu.astro';

type Props = {
	headings: MarkdownHeading[];
	githubEditUrl: string;
	tags: string[];
};

const { headings, githubEditUrl, tags } = Astro.props;
---

<aside class="menu">
	<TableOfContents client:media="(min-width: 50em)" headings={headings} />
	<p class="menu-label">TAGS</p>
	<div class="tags">
		{
			tags.map((tag) => (
			<span class="tag is-link is-light">
				<a href={`?search=${tag}&is_tag`}>#{tag} </a>
			</span>
			))
		}
	</div>
	<slot/>
	<MoreMenu editHref={githubEditUrl} />
</aside>
