---
import PageLayout from '../layouts/PageLayout.astro';
import { VideoList } from '../components/Video/VideoList';
import { SITE } from '../consts';
const post = Astro.props;
---

<PageLayout hasMiddle={false} {...post.data}>
	<section slot="body_top" class="hero is-halfheight has-background-primary">
		<div class="hero-body">
			<div class="container">
				<p class="title">
					{`${SITE.title}`}
				</p>
				<p class="subtitle">
					Explore the world of Minecraft mods and the History Survival game.
					<br>
					<b><i>Immerse Yourself in Gaming Innovation.</i></b>
					<br>
					<br>
					<a class="button is-link" href="/projects">Projects</a>
					<a class="button is-link" href="/blog">The Miners Blog</a>
				</p>
			</div>
		</div>
	</section>

	<section slot="body_mid" class="content">
		<section class="section"></section>

		<section class="has-background-success-light section">
			<h2>About the Creator</h2>
            <p>Miners Online is founded by ajh123, a passionate gamer and content creator. Please note that "ajh123" is the GitHub account name of the creator, and not their real name.</p>
            <p>ajh123 creates YouTube videos about various games and thir projects. They love gaming and enjoy sharing game-related content with others.</p>
            <p>Check out ajh123's content:</p>
            <ul>
                <li><a href="https://github.com/ajh123">GitHub Profile</a></li>
                <li><a href="https://www.youtube.com/@minecraftict">YouTube Channel</a></li>
            </ul>

			<h3>Featured Videos</h3>
			<VideoList client:load currentChannelId="UC5ZPyhfbqKT96EmYzANku7Q"/>
		</section>

		<section class="has-background-success-light section mt-6">
			<h2>Support Us</h2>
			<div class="columns">
				<div class="column is-one-fifth">
					<img src="/assets/images/monero.png"/>
				</div>
				<div class="column is-four-fifths">
					<p>We appreciate your support! You can donate to us using the Monero cryptocurrency.</p>
					<ul>
						<li><p>Scan the QR code on the left, or click 
							<a href="monero:82W6d1rsEfRJEMi1SzUELBAt4eTk5s5c5hQRpLbfqtmx4KWbPkNebs72HcSV48p9eDErS4gUX6BSPAXiUM51t9tbSzDbRZ8">here</a>.
						</p></li>
						<li><p>
							You may send Monero directly to the following address: 
							<pre style="overflow-x: auto;">82W6d1rsEfRJEMi1SzUELBAt4eTk5s5c5hQRpLbfqtmx4KWbPkNebs72HcSV48p9eDErS4gUX6BSPAXiUM51t9tbSzDbRZ8</pre>
						</p></li>
					</ul>
					<p>You are unable to get your payments back.</p>
				</div>
			</div>
		</section>
	</section>
</PageLayout>
