---
import BlankLayout from '../layouts/BlankLayout.astro';
import { VideoList } from '../components/Video/VideoList';
const post = Astro.props;
---

<BlankLayout {...post.data}>
	<div slot="body_top">
		<p>13434</p>
	</div>

	<section  class="hero is-primary is-fullheight">
		<div class="hero-body">
			<div class="container has-text-centered">
				<h1>Miners Online</h1>
				<p>Welcome to our site!</p>
				<a href="/docs/en/history-survival">Read the Docs!</a>
				<a href="/blog">The Miners Blog!</a>
			</div>
		</div>
	</section>

	<section>
		<center><h2>Our people</h2></center>
		<h3>ajh123</h3>
		<p>Known as Sam Hulme, he is the owner of this site. ajh123 is the GitHub username for them.</p>
		<h4>Videos from ajh123 (Minecraft ICT)</h4>
		<VideoList client:load currentChannelId="UC5ZPyhfbqKT96EmYzANku7Q"/>
	</section>
</BlankLayout>
