---
import PageLayout from '../layouts/PageLayout.astro';
const post = Astro.props;
---

<PageLayout hasMiddle={false} {...post.data}>
	<section slot="body_top" class="hero is-halfheight has-background-primary pt-3">
		<div class="hero-body">
			<div class="container">
				<p class="title">
					<img src="/assets/images/MinersOnlineLogo.svg" alt="Miners Online"/>
				</p>
				<p class="subtitle">
					Explore the world of Minecraft mods and the History Survival game.
					<br>
					<b><i>Immerse Yourself in Gaming Innovation.</i></b>
					<br>
					<br>
					<a class="button is-link" href="/en_gb/projects">Projects</a>
					<a class="button is-link" href="/en_gb/blog">The Miners Blog</a>
				</p>
			</div>
		</div>
	</section>

	<section slot="body_mid" class="content">
		<section class="section"></section>

		<section class="has-background-success-light section">
			<h2>About Us</h2>
			<p>We made the game History Survival and few Minecraft mods.</p>
			<ul>
			<li><a href="/en_gb/about">Find out more.</a></li>
			<li><a href="/en_gb/about/creator">Find out about our creator.</a></li>
			</ul>
		</section>

		<section class="has-background-success-light section mt-6">
			<h2>Support Us</h2>
			<div class="columns">
				<div class="column is-one-fifth">
					<img src="/assets/images/monero.png"/>
				</div>
				<div class="column is-four-fifths">
					<p>We appreciate your support! You can donate to us using the Monero cryptocurrency.</p>
					<ul>
						<li><p>Scan the QR code on the left, or click 
							<a href="monero:82W6d1rsEfRJEMi1SzUELBAt4eTk5s5c5hQRpLbfqtmx4KWbPkNebs72HcSV48p9eDErS4gUX6BSPAXiUM51t9tbSzDbRZ8">here</a>.
						</p></li>
						<li><p>
							You may send Monero directly to the following address: 
							<pre style="overflow-x: auto;">82W6d1rsEfRJEMi1SzUELBAt4eTk5s5c5hQRpLbfqtmx4KWbPkNebs72HcSV48p9eDErS4gUX6BSPAXiUM51t9tbSzDbRZ8</pre>
						</p></li>
					</ul>
					<p>You are unable to get your payments back.</p>
				</div>
			</div>
		</section>
	</section>
</PageLayout>
