---
import PageLayout from '../layouts/PageLayout.astro';
import { VideoList } from '../components/Video/VideoList';
import { SITE } from '../consts';
const post = Astro.props;
---

<PageLayout {...post.data}>
	<section slot="body_top" class="hero is-halfheight is-primary">
		<div class="hero-body">
			<div class="container">
				<p class="title">
					{`${SITE.title}`}
				</p>
				<p class="subtitle">
					We make the game History Survival, and a few Minecraft mods.
					<br>
					<br>
					<a class="button is-link" href="/docs/en/history-survival">Documentaion</a>
					<a class="button is-link" href="/blog">The Miners Blog</a>
				</p>
			</div>
		</div>
	</section>

	<section>
		<center><h2>Our people</h2></center>
		<h3>ajh123</h3>
		<p>Known as Sam Hulme, he is the owner of this site. ajh123 is the GitHub username for them.</p>
		<h4>Videos from ajh123 (Minecraft ICT)</h4>
		<VideoList client:load currentChannelId="UC5ZPyhfbqKT96EmYzANku7Q"/>
	</section>
</BlankLayout>
