---
import { getLanguageFromURL } from '../../languages';
import { SITE } from '../../consts';
import SkipToContent from './SkipToContent.astro';
import LanguageSelect from './LanguageSelect';

type Props = {
	currentPage: string;
};

const { currentPage } = Astro.props;
const lang = getLanguageFromURL(currentPage);
let switcher = false;
if (currentPage.startsWith("/docs")) {
	switcher = true;
}
---

<header>
	<SkipToContent />
	<nav class="navbar is-fixed-top is-info" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand">
				<a href="/" class="navbar-item mr-3">
					{ SITE.title }
				</a>
				<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>
			<div id="navbarMenu" class="navbar-menu">
				<div class="navbar-start">
					<a href="/" class="navbar-item">
						Home
					</a>
					<a href="/docs/en/history-survival" class="navbar-item">
						Documentation
					</a>
					<a href="/blog" class="navbar-item">
						Blog
					</a>
				</div>

				<div class="navbar-end">
					<div class="navbar-item" style="padding: 0;">
						<form>
							<input class="input" type="text" placeholder="Search ..." name="search" id="search">
						</form>
					</div>
				</div>
			</div>
		</div>
	</nav>
</header>
