.nav-item {
	width: calc(var(--theme-navbar-height) * 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-button {
	--button-size: calc(var(--theme-navbar-height) * 0.8);
	width: var(--button-size);
	height: var(--button-size);
	background-color: var(--theme-navbar-icon-bg);
	border-radius: 50%;
	padding: 5px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter 300ms;
}

.icon-right {
	--button-size: calc(var(--theme-navbar-height) * 0.8);
	width: var(--button-size);
	height: var(--button-size);
	border-radius: 50%;
	padding: 5px;
	margin: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: filter 300ms;
}

.icon-button:hover {
	filter: brightness(1.2);
}

.nav-dropdown {
	position: absolute;
	top: 58px;
	width: 300px;
	transform: translateX(-45%) translateZ(100px);
	background-color: var(--theme-navbar-drop-bg);
	border: var(--theme-navbar-drop-border);
	border-radius: var(--theme-navbar-drop-border-radius);
	padding: 1rem;
	overflow: hidden;
	transition: height var(--theme-navbar-drop-speed) ease;
}

.nav-dropdown-item {
	height: 50px;
	display: flex;
	align-items: center;
	border-radius: var(--theme-navbar-drop-border-radius);
	transition: filter var(--theme-navbar-drop-speed);
	padding: 0.5rem;
}

.nav-dropdown-item .icon-button {
	filter: none;
}

.nav-dropdown-item:hover {
	filter: brightness(1.2);
}

.icon-right {
	margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
	position: absolute;
	transform: translateX(-110%);
}
.menu-primary-enter-active {
	transform: translateX(0%);
	transition: all var(--theme-navbar-drop-speed) ease;
}
.menu-primary-exit {
	position: absolute;
}
.menu-primary-exit-active {
	transform: translateX(-110%);
	transition: all var(--theme-navbar-drop-speed) ease;
}


.menu-secondary-enter {
	transform: translateX(110%);
}
.menu-secondary-enter-active {
	transform: translateX(0%);
	transition: all var(--theme-navbar-drop-speed) ease;
}
/* .menu-secondary-exit {

} */
.menu-secondary-exit-active {
	transform: translateX(110%);
	transition: all var(--theme-navbar-drop-speed) ease;
}