---
import { getCollection } from 'astro:content';
import BlankLayout from '../../layouts/BlankLayout.astro';
import SearchResult from '../../components/SearchResult.astro'
const post = Astro.props;

const blog = await getCollection('blog');
const docs = await getCollection('docs');
const legal = await getCollection('legal');

var value: string = Astro.url.searchParams.get("q") as string;
var found = [];
for (var postIndex in blog) {
	const post = blog[postIndex];
	if (post.data.title.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
		found.push(post);
		continue;
	} else if (post.data.description.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
		found.push(post);
		continue;
	}
	for (var tagIndex in post.data.tags) {
		const tag = post.data.tags[tagIndex];
		if (tag.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
			found.push(post);
			continue;
		}
	}
}
for (var docsIndex in docs) {
	const doc = docs[docsIndex];
	if (doc.data.title.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
		found.push(doc);
		continue;
	} else if (doc.data.description.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
		found.push(doc);
		continue;
	}
	for (var tagIndex in doc.data.tags) {
		const tag = doc.data.tags[tagIndex];
		if (tag.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
			found.push(doc);
			continue;
		}
	}
}
for (var legalIndex in legal) {
	const legalContent = legal[legalIndex];
	if (legalContent.data.title.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
		found.push(legalContent);
		continue;
	}
	for (var tagIndex in legalContent.data.tags) {
		const tag = legalContent.data.tags[tagIndex];
		if (tag.toLowerCase().indexOf(value.toLowerCase()) !== -1) {
			found.push(legalContent);
			continue;
		}
	}
}
---
<BlankLayout {...post.data}>
	<div class="column">
		<h1 class="title">Search Results</h1>
		<hr>
		<section>
			<ul>
				{
					found.map((result) => (
						<SearchResult 
							tags={result.data.tags}
							description={result.data.description} 
							pubDate=""
							title={result.data.title}
							slug={result.slug}
						></SearchResult>
					))
				}
			</ul>
		</section>
	</div>
</BlankLayout>