---
import BlankLayout from '../../../layouts/BlankLayout.astro';
import { VideoList } from '../../../components/Video/VideoList';
const post = Astro.props;
post.data = {title: "About"}
---

<BlankLayout {...post.data}>
	<div class="column">
		<section class="content section">
			<h1>About us</h1>

		</section>
		<section class="content section">
			<h1>About the Creator</h1>
			<p>Miners Online was founded by ajh123, a passionate software developer and content creator. Please note that "ajh123" is the GitHub account name of the creator, and not their real name.</p>
			<p>ajh123 creates YouTube videos about various games and their projects. They love gaming and enjoy sharing game-related content with others.</p>
			<p>Check out ajh123's content:</p>
			<ul>
				<li><a href="https://github.com/ajh123">GitHub Profile</a></li>
				<li><a href="https://www.youtube.com/@minecraftict">YouTube Channel</a></li>
			</ul>

			<h2>Featured Videos</h2>
			<VideoList client:load currentChannelId="UC5ZPyhfbqKT96EmYzANku7Q"/>
		</section>
	</div>
</BlankLayout>