---
import PageLayout from '../layouts/PageLayout.astro';

const post = Astro.props;
---
<style>
	.layout {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: minmax(var(--gutter), 1fr);
		overflow-x: hidden;
	}

	#grid-main {
		padding: var(--doc-padding) var(--gutter);
		grid-column: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
	}
</style>

<PageLayout {...post.data}>
	<main class="layout">
		<div id="grid-main">
			<slot />
		</div>
	</main>
</PageLayout>
