---
import type { MarkdownHeading } from 'astro';
import HeadCommon from '../components/HeadCommon.astro';
import Header from '../components/Header/Header.astro';
import Footer from '../components/Footer/Footer.astro';
import Cookies from "../components/Cookies.astro";
import { SITE } from '../consts';

type Props = {
	title: string;
	headings: MarkdownHeading[];
	hasMiddle: Boolean;
	githubEditUrl: string;
};

const { headings, hasMiddle=true, ...data } = Astro.props;
const currentPage = Astro.url.pathname;
const currentFile = `src/content/${currentPage.replace(/\/$/, '')}.md`;
---

<html dir={"auto"} lang={"en-gb"} class="initial">
	<head>
		<HeadCommon />
		<slot name="extra_head"/>
		<title>
			{`${data.title || "" }  ${SITE.title}`}
		</title>
	</head>

	<body>
		<Header currentPage={currentPage} />
		
		<slot name="body_top"></slot>
		<slot name="body_mid"></slot>
		{ (hasMiddle == true || hasMiddle == undefined) &&
		<section class="section is-fullheight mt-3">
			<div class="columns">
				<slot name="in_body_top"></slot>
				<slot />
				<slot name="in_body_end"></slot>
			</div>
		</section>
		}
		<slot name="body_end"></slot>
		<Footer path={currentFile} />
		<Cookies/>
	</body>
</html>
