---
import BlankLayout from '../../../layouts/BlankLayout.astro';
import SearchResult from '../../../components/SearchResult.astro';
import { getCollection } from 'astro:content';
import { getLanguageFromURL } from '../../../languages';

const posts = (await getCollection('blog')).sort(
	(a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const post = Astro.props;
post.data = {title: "Blog"}
var lang = getLanguageFromURL(Astro.url.pathname);
---

<BlankLayout {...post.data}>
	<div class="column">
		<h1 class="title">Blog Posts</h1>
		<hr>
		<section>
			<ul>
				{
					posts.map((post) => (
						<SearchResult 
							tags={post.data.tags}
							description={post.data.description} 
							pubDate={post.data.pubDate}
							title={post.data.title}
							slug={(lang+"/blog/"+post.slug.replace(lang, "")).replace("//", "/")}
						></SearchResult>
					))
				}
			</ul>
		</section>
	</div>
</BlankLayout>
